
.banner-info {
    padding: 4em 0;
    position: absolute;
    top: 210px;
    left: 320px;
    width: 510px;
}

@media (min-width: 768px) {
.banner-info {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}